* {
  margin: 0;
  padding: 0;
}

.testimonial {
  position: relative;
  background-color: #c3cfe2;
  padding: 30px 0;
}

.body-testimonial {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  margin-bottom: 0;
  max-width: 500px;
  margin: 0 auto;
}
.body-testimonial p {
  font-size: 2em;
  padding-bottom: 70px;
}

.footer-testimonial {
  margin: 20px;
  padding: 20px 20px 10px 20px;
  background-color: #fff;
  text-align: center;
  color: white;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-top: 0;
  background-color: #686de0;
  max-width: 500px;
  margin: 0 auto;
}
.footer-testimonial h1 {
  text-transform: uppercase;
  margin: 0px 0 20px 0;
}
.footer-testimonial img {
  position: relative;
  top: -100px;
  left: 0%;
  width: 200px;
  border-radius: 50%;
}

/** GRID PORTFOLIO

/* Container needed to position the button. Adjust the width as needed */
.container-portfolio {
  margin: 20px;
  position: relative;
  display: grid;
  place-items: center;
  gap: 10px;
}

.pic {
  display: grid;
  place-items: center;
  opacity: 1;
  background-color: rgb(47, 54, 47);
}

/*Make the image responsive */
.container-portfolio .img-portfolio {
  width: 350px;
}

/* Style the button and place it in the middle of the container/image */
.container-portfolio .btn {
  position: absolute;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
}

.pic:hover .btn {
  opacity: 1;
  transition: ease-in 0.5s;
}

.pic:hover img {
  opacity: 0.2;
  transition: ease-in 0.5s;
}

@media (min-width: 768px) {
  .container-portfolio {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .container-portfolio {
    grid-template-columns: repeat(3, 1fr);
  }

  .container-portfolio .img-portfolio {
    width: 300px;
  }
}
/** SOCIAL MEDIA BUTTONS*/
nav {
  overflow: hidden;
  /*body overflow hidden: Google */
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1rem;
}

i {
  position: relative;
  bottom: 50px;
  padding: 10px;
  width: 20px;
  height: 20px;
}

.fa-laptop-code {
  color: white;
  margin-top: 0px;
  background-color: #e17b77;
  transition: 1s ease-in;
  margin-top: 100px;
}
.fa-laptop-code:hover {
  padding-right: 100px;
}
.fa-laptop-code:hover::after {
  content: "Check out my blog";
  margin-left: 10px;
  font-size: 10px;
  white-space: nowrap;
}

.fa-twitter {
  color: white;
  margin-top: 0px;
  background-color: #00aced;
  transition: 1s ease-in;
  margin-top: 0;
}
.fa-twitter:hover {
  padding-right: 100px;
}
.fa-twitter:hover::after {
  content: "Follow me on Twitter";
  margin-left: 10px;
  font-size: 10px;
  white-space: nowrap;
}

.fa-linkedin-in {
  color: white;
  margin-top: 0px;
  background-color: #007bb6;
  transition: 1s ease-in;
  margin-top: 0;
}
.fa-linkedin-in:hover {
  padding-right: 100px;
}
.fa-linkedin-in:hover::after {
  content: "Connect on LinkedIn";
  margin-left: 10px;
  font-size: 10px;
  white-space: nowrap;
}

.fa-facebook-f {
  color: white;
  margin-top: 0px;
  background-color: #3b5998;
  transition: 1s ease-in;
  margin-top: 0;
}
.fa-facebook-f:hover {
  padding-right: 100px;
}
.fa-facebook-f:hover::after {
  content: "Like me on Facebook";
  margin-left: 10px;
  font-size: 10px;
  white-space: nowrap;
}

.fa-github {
  color: white;
  margin-top: 0px;
  background-color: #333;
  transition: 1s ease-in;
  margin-top: 0;
}
.fa-github:hover {
  padding-right: 100px;
}
.fa-github:hover::after {
  content: "See projects on GitHub";
  margin-left: 10px;
  font-size: 10px;
  white-space: nowrap;
}/*# sourceMappingURL=styles.css.map */